<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app" class="ceshi" style="background-color:darkcyan;height: 200px;">
    你好啊！ {{msg}}{{name}}
    {{arr}}{{ceshi}}
    <div style="color: brown;">测试文本2</div>
  </div>
  <script src="./dist/Vue.js"></script>
  <script>
    /**
     * vue 渲染流程： 初始化数据 -- 模版编译 -- 转化成render -- 生成虚拟节点 -- 转化成真实dom -- 渲染到页面上
     * 模版编译： render > template > el(必须存在)
    */
    Vue.mixin({
      beforeMount:function c(){
      console.log('beforeMount-c')
    }
   })
   Vue.mixin({
     mounted:function c(){
      console.log('mounted-d')
    }
   })
   Vue.mixin({
    created:function a(){
      console.log('created-a')
    }
   })
   Vue.mixin({
    created:function b(){
      console.log('created-b')
    }
   })
    let vm = new Vue({
      el: '#app',
      data() {
        return {
          arr: [{ a: 1 },{b:3}],
          name: '小明12',
          msg: 'wsw',
          ceshi:'121'
        }
      },
    })
    // setTimeout(()=>{
    //   vm.name = '张123三';
    //   vm.arr = [{ a: 333 },{b:3}]
    // },1000)
    console.log(vm, 'kk-index.html')
  </script>
</body>

</html>